body {
h2 {
  color: #592941; 
  font-size: 55px;
}

body {
  background-color: #A3CCB8;
}

img{
  border: dashed 5px #474A2C;
}

img:hover {
  border: dotted 10px blue;
}
h2:hover{
  color: #B3C2F2;
  font-size: #1B1A75;
}

nav{
  list-style-type: none; 
  position: fixed;
   background-color: #8FB082; 
  top: 0;
  width: 50%;
  left: 0;
}
li{
  display: inline;
  padding; 30px;
  float: left;
}
li:hover{
  background-color: yellow;
}

a{
 text-decoration: none;
  color: green;
}
}
