h2 {
  color: #592941; 
  font-size: 55px;
}

body {
  background-color: #A3CCB8;
}

img{
  border: dashed 5px #474A2C;
}

img:hover {
  border: dotted 10px blue;
}
h2:hover{
  color: purple;
  font-size: 20px;
}

nav{
  list-style-type: none; 
  position: fixed;
   background-color:  white; 
  top: 0;
  width:5%;
  left: 5;
}
li{
  display: inline;
  padding; 4px;
  float: left;
}
li:hover{
  background-color: orange;
}

a {
 text-decoration: none;
  color: green;
}
